<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registro Cuenta
      </div>
      <div class="card-body">
        <form action="/usuario/signup" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" class="form-control" name="nit" placeholder="NIT" required value="{{nit}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="generador" placeholder="Nombre del Gran Generador" required
              value="{{generador}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="direccion" placeholder="Direccion" value="{{direccion}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="responsable" placeholder="Responsable"
              value="{{responsable}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="contacto" placeholder="Contacto" value="{{contacto}}">
          </div>


          <div class="form-group">
            <label for="Name">Anexar documento del SGIRS</label>
            <input type="file" name="documento_sgirs" id="documento_sgirs" value=""
              class="form-control text-dark border-success">
          </div>


         
          <div class="form-group">
            <select class="form-control" name="codSector"  id="codSector"  required>
                      <option value = "" disabled selected>Escoger sector
                  </option>
               {{#each lSectores}}
                <option value={{CodSector}}>{{ Descripcion }}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <input type="email" class="form-control" name="correo" placeholder="Correo" value="{{correo}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
              value="{{confirm_password}}">
          </div>
          <button class="btn btn-primary btn-block">
            Crear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
