<div class="row">
  {{#each preguntas}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ idPregunta }} <a href="/asks/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>Fecha Creacion : {{ createdAt }} </p>
        <p>pregunta1 : {{ P00000001 }} </p>
        <p>pregunta2 : {{ P00000002 }} </p>
        <p>pregunta3 : {{ P00000003 }} </p>
        <p>pregunta4 : {{ P00000004}} </p>
        <p>pregunta5 : {{ P00000005}} </p>
        <p>pregunta6 : {{ P00000006}} </p>
        <p>pregunta7 : {{ P00000007 }} </p>
        <p>pregunta8 : {{ P00000008 }} </p>
        <p>pregunta9 : {{ P00000009 }} </p>
        <p>pregunta10 : {{ P00000010 }} </p>
        <p>pregunta11 : {{ P00000011 }} </p>
        <p>pregunta12 : {{ P00000012 }} </p>
        <p>pregunta13 : {{ P00000013 }} </p>
        <p>pregunta14 : {{ P00000014 }} </p>
        <p>pregunta15 : {{ P00000015 }} </p>
        <p>pregunta16 : {{ P00000016 }} </p>
        <p>pregunta17 : {{ P00000017 }} </p>
        <p>pregunta18 : {{ P00000018 }} </p>
        <p>pregunta19 : {{ P00000019 }} </p>
        <p>pregunta20 : {{ P00000020 }} </p>
        <p>pregunta21 : {{ P00000021 }} </p>
        <p>pregunta22 : {{ P00000022 }} </p>
        <p>pregunta23 : {{ P00000023 }} </p>
        <p>pregunta24 : {{ P00000024 }} </p>
        <p>pregunta25 : {{ P00000025 }} </p>
        <p>pregunta26 : {{ P00000026 }} </p>

        <form action="/asks/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">Hola No hay preguntas aun registradas.</p>
      <a href="/ask/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>