<div class="col-md-9 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Registro de Preguntas</h3>
    </div>
    <div class="card-body">



      <form action="/rasks/new-rask" method="POST" enctype="multipart/form-data">



        <TABLE BORDER WIDTH="100%">
          <TR>
            <TH>Pregunta</TH>
            <TH>Respuesta</TH>
          </TR>

          {{#each lPreguntas}}



          
          

          <TR ALIGN=left>
            <TD >
              {{pregunta}}
              <div style="visibility: hidden">
               <input type="text" name="{{idPregunta}}_P" id="{{idPregunta}}_P" value="{{pregunta}}" class="form-control text-dark border-success" >
               </div>
            </TD>

            <TD>

              <div class="form-group">

                <select class="form-control" name="{{idPregunta}}" id="{{idPregunta}}"  required>
                  <<option disabled selected>Escoger Opcion
                    </option>

                    {{#if respuesta1}}
                    <option value={{ respuesta1 }}>{{ respuesta1 }}</option>
                    {{/if}}

                    {{#if respuesta2}}
                    <option value={{ respuesta2 }}>{{ respuesta2 }}</option>
                    {{/if}}

                    {{#if respuesta3}}
                    <option value={{ respuesta3 }}>{{ respuesta3 }}</option>
                    {{/if}}

                </select>

                {{#if indTexto }}

                <div class="form-group">
                  <textarea name="{{idPregunta}}_T" class="form-control" placeholder="Observacion" required ></textarea>
                </div>


                {{/if}}

                {{#if indArchivo}}

                <div class="form-group">

                    <input type="file" name="{{idPregunta}}_D" id="{{idPregunta}}_D" value="" class="form-control text-dark border-success" required>

                </div>



                {{/if}}

              </div>


            </TD>

          </TR>


          {{/each}}


        </TABLE>


        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Grabar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>