<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Registro de Preguntas</h3>
    </div>
    <div  class="card-body">

      <form action="/rasks/new-rask" method="POST">

              {{#each lPreguntas}}

          <div class="form-group" >
            <select class="form-control" name="{{idPregunta}}"  id="{{idPregunta}}"  >
     <option  disabled selected>{{pregunta}}</option>

     {{#if respuesta1}}
.     
      <option value={{ respuesta1 }}>{{ respuesta1 }}</option>
      {{/if}}

           {{#if respuesta2}}
      <option value={{ respuesta2 }}>{{ respuesta2 }}</option>
            {{/if}}


           {{#if respuesta3}}
      <option value={{ respuesta3 }}>{{ respuesta3 }}</option>
              {{/if}}



            </select>
          </div>

              {{/each}}


             





        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Grabar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>