<div class="row">
  {{#each preguntas}}
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ idPregunta }} <a href="/rindicators/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>

        <div class="form-group">
          <p><b>Fecha Creacion : {{ createdAt }} </b>
          </p>
        </div>
        <div class="form-group">
          <p><b> Periodo : {{ periodo }}</b>
          </p>
        </div>
        <TABLE BORDER WIDTH="100%">
          <TR>
            <TH>Indicador</TH>
            <TH>Variable</TH>
            <TH>Valor</TH>
            <TH>Resultado</TH>
          </TR>
          <TR ALIGN=left>
          
           {{#if IND0000001}}
          <TR>



            <TD>{{IND0000001}} </TD>


            <TD>
              {{#if VAR0000001_IND0000001}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000001}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000001}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000001}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000001}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000001}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000001}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000001}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000001}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000001}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000001}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000001}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000001}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000001}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000001}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000001}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000001}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000001}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000001}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000001}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000001}}<div class='form-group'>
                {{VAR0000001_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000001}}<div class='form-group'>
                {{VAR0000002_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000001}}<div class='form-group'>
                {{VAR0000003_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000001}}<div class='form-group'>
                {{VAR0000004_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000001}}<div class='form-group'>
                {{VAR0000005_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000001}}<div class='form-group'>
                {{VAR0000006_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000001}}<div class='form-group'>
                {{VAR0000007_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000001}}<div class='form-group'>
                {{VAR0000008_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000001}}<div class='form-group'>
                {{VAR0000009_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000001}}<div class='form-group'>
                {{VAR0000010_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000001}}<div class='form-group'>
                {{VAR0000011_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000001}}<div class='form-group'>
                {{VAR0000012_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000001}}<div class='form-group'>
                {{VAR0000013_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000001}}<div class='form-group'>
                {{VAR0000014_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000001}}<div class='form-group'>
                {{VAR0000015_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000001}}<div class='form-group'>
                {{VAR0000016_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000001}}<div class='form-group'>
                {{VAR0000017_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000001}}<div class='form-group'>
                {{VAR0000018_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000001}}<div class='form-group'>
                {{VAR0000019_IND0000001}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000001}}<div class='form-group'>
                {{VAR0000020_IND0000001}}
              </div> {{/if}}
 

            </TD>
            <TD align="center">
              {{#if FOR0000001}}
             <div class='form-group'>
                {{FOR0000001}} 
              {{/if}}
            </TD>
       
          </TR>

               {{/if}}

                        {{#if IND0000002}}
          <TR>



            <TD>{{IND0000002}} </TD>


            <TD>
              {{#if VAR0000001_IND0000002}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000002}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000002}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000002}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000002}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000002}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000002}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000002}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000002}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000002}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000002}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000002}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000002}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000002}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000002}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000002}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000002}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000002}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000002}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000002}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000002}}<div class='form-group'>
                {{VAR0000001_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000002}}<div class='form-group'>
                {{VAR0000002_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000002}}<div class='form-group'>
                {{VAR0000003_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000002}}<div class='form-group'>
                {{VAR0000004_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000002}}<div class='form-group'>
                {{VAR0000005_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000002}}<div class='form-group'>
                {{VAR0000006_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000002}}<div class='form-group'>
                {{VAR0000007_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000002}}<div class='form-group'>
                {{VAR0000008_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000002}}<div class='form-group'>
                {{VAR0000009_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000002}}<div class='form-group'>
                {{VAR0000010_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000002}}<div class='form-group'>
                {{VAR0000011_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000002}}<div class='form-group'>
                {{VAR0000012_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000002}}<div class='form-group'>
                {{VAR0000013_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000002}}<div class='form-group'>
                {{VAR0000014_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000002}}<div class='form-group'>
                {{VAR0000015_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000002}}<div class='form-group'>
                {{VAR0000016_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000002}}<div class='form-group'>
                {{VAR0000017_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000002}}<div class='form-group'>
                {{VAR0000018_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000002}}<div class='form-group'>
                {{VAR0000019_IND0000002}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000002}}<div class='form-group'>
                {{VAR0000020_IND0000002}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000002}}
             <div class='form-group'>
                {{FOR0000002}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

         {{#if IND0000003}}
          <TR>



            <TD>{{IND0000003}} </TD>


            <TD>
              {{#if VAR0000001_IND0000003}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000003}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000003}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000003}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000003}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000003}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000003}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000003}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000003}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000003}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000003}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000003}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000003}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000003}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000003}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000003}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000003}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000003}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000003}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000003}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000003}}<div class='form-group'>
                {{VAR0000001_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000003}}<div class='form-group'>
                {{VAR0000002_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000003}}<div class='form-group'>
                {{VAR0000003_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000003}}<div class='form-group'>
                {{VAR0000004_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000003}}<div class='form-group'>
                {{VAR0000005_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000003}}<div class='form-group'>
                {{VAR0000006_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000003}}<div class='form-group'>
                {{VAR0000007_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000003}}<div class='form-group'>
                {{VAR0000008_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000003}}<div class='form-group'>
                {{VAR0000009_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000003}}<div class='form-group'>
                {{VAR0000010_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000003}}<div class='form-group'>
                {{VAR0000011_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000003}}<div class='form-group'>
                {{VAR0000012_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000003}}<div class='form-group'>
                {{VAR0000013_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000003}}<div class='form-group'>
                {{VAR0000014_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000003}}<div class='form-group'>
                {{VAR0000015_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000003}}<div class='form-group'>
                {{VAR0000016_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000003}}<div class='form-group'>
                {{VAR0000017_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000003}}<div class='form-group'>
                {{VAR0000018_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000003}}<div class='form-group'>
                {{VAR0000019_IND0000003}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000003}}<div class='form-group'>
                {{VAR0000020_IND0000003}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000003}}
             <div class='form-group'>
                {{FOR0000003}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000004}}
          <TR>



            <TD>{{IND0000004}} </TD>


            <TD>
              {{#if VAR0000001_IND0000004}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000004}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000004}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000004}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000004}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000004}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000004}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000004}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000004}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000004}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000004}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000004}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000004}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000004}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000004}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000004}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000004}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000004}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000004}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000004}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000004}}<div class='form-group'>
                {{VAR0000001_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000004}}<div class='form-group'>
                {{VAR0000002_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000004}}<div class='form-group'>
                {{VAR0000003_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000004}}<div class='form-group'>
                {{VAR0000004_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000004}}<div class='form-group'>
                {{VAR0000005_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000004}}<div class='form-group'>
                {{VAR0000006_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000004}}<div class='form-group'>
                {{VAR0000007_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000004}}<div class='form-group'>
                {{VAR0000008_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000004}}<div class='form-group'>
                {{VAR0000009_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000004}}<div class='form-group'>
                {{VAR0000010_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000004}}<div class='form-group'>
                {{VAR0000011_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000004}}<div class='form-group'>
                {{VAR0000012_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000004}}<div class='form-group'>
                {{VAR0000013_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000004}}<div class='form-group'>
                {{VAR0000014_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000004}}<div class='form-group'>
                {{VAR0000015_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000004}}<div class='form-group'>
                {{VAR0000016_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000004}}<div class='form-group'>
                {{VAR0000017_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000004}}<div class='form-group'>
                {{VAR0000018_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000004}}<div class='form-group'>
                {{VAR0000019_IND0000004}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000004}}<div class='form-group'>
                {{VAR0000020_IND0000004}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000004}}
             <div class='form-group'>
                {{FOR0000004}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000005}}
          <TR>



            <TD>{{IND0000005}} </TD>


            <TD>
              {{#if VAR0000001_IND0000005}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000005}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000005}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000005}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000005}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000005}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000005}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000005}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000005}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000005}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000005}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000005}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000005}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000005}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000005}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000005}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000005}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000005}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000005}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000005}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000005}}<div class='form-group'>
                {{VAR0000001_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000005}}<div class='form-group'>
                {{VAR0000002_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000005}}<div class='form-group'>
                {{VAR0000003_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000005}}<div class='form-group'>
                {{VAR0000004_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000005}}<div class='form-group'>
                {{VAR0000005_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000005}}<div class='form-group'>
                {{VAR0000006_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000005}}<div class='form-group'>
                {{VAR0000007_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000005}}<div class='form-group'>
                {{VAR0000008_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000005}}<div class='form-group'>
                {{VAR0000009_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000005}}<div class='form-group'>
                {{VAR0000010_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000005}}<div class='form-group'>
                {{VAR0000011_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000005}}<div class='form-group'>
                {{VAR0000012_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000005}}<div class='form-group'>
                {{VAR0000013_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000005}}<div class='form-group'>
                {{VAR0000014_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000005}}<div class='form-group'>
                {{VAR0000015_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000005}}<div class='form-group'>
                {{VAR0000016_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000005}}<div class='form-group'>
                {{VAR0000017_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000005}}<div class='form-group'>
                {{VAR0000018_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000005}}<div class='form-group'>
                {{VAR0000019_IND0000005}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000005}}<div class='form-group'>
                {{VAR0000020_IND0000005}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000005}}
             <div class='form-group'>
                {{FOR0000005}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000006}}
          <TR>



            <TD>{{IND0000006}} </TD>


            <TD>
              {{#if VAR0000001_IND0000006}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000006}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000006}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000006}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000006}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000006}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000006}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000006}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000006}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000006}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000006}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000006}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000006}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000006}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000006}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000006}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000006}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000006}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000006}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000006}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000006}}<div class='form-group'>
                {{VAR0000001_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000006}}<div class='form-group'>
                {{VAR0000002_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000006}}<div class='form-group'>
                {{VAR0000003_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000006}}<div class='form-group'>
                {{VAR0000004_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000006}}<div class='form-group'>
                {{VAR0000005_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000006}}<div class='form-group'>
                {{VAR0000006_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000006}}<div class='form-group'>
                {{VAR0000007_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000006}}<div class='form-group'>
                {{VAR0000008_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000006}}<div class='form-group'>
                {{VAR0000009_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000006}}<div class='form-group'>
                {{VAR0000010_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000006}}<div class='form-group'>
                {{VAR0000011_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000006}}<div class='form-group'>
                {{VAR0000012_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000006}}<div class='form-group'>
                {{VAR0000013_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000006}}<div class='form-group'>
                {{VAR0000014_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000006}}<div class='form-group'>
                {{VAR0000015_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000006}}<div class='form-group'>
                {{VAR0000016_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000006}}<div class='form-group'>
                {{VAR0000017_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000006}}<div class='form-group'>
                {{VAR0000018_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000006}}<div class='form-group'>
                {{VAR0000019_IND0000006}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000006}}<div class='form-group'>
                {{VAR0000020_IND0000006}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000007}}
             <div class='form-group'>
                {{FOR0000007}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000007}}
          <TR>



            <TD>{{IND0000007}} </TD>


            <TD>
              {{#if VAR0000001_IND0000007}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000007}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000007}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000007}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000007}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000007}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000007}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000007}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000007}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000007}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000007}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000007}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000007}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000007}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000007}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000007}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000007}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000007}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000007}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000007}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000007}}<div class='form-group'>
                {{VAR0000001_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000007}}<div class='form-group'>
                {{VAR0000002_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000007}}<div class='form-group'>
                {{VAR0000003_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000007}}<div class='form-group'>
                {{VAR0000004_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000007}}<div class='form-group'>
                {{VAR0000005_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000007}}<div class='form-group'>
                {{VAR0000006_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000007}}<div class='form-group'>
                {{VAR0000007_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000007}}<div class='form-group'>
                {{VAR0000008_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000007}}<div class='form-group'>
                {{VAR0000009_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000007}}<div class='form-group'>
                {{VAR0000010_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000007}}<div class='form-group'>
                {{VAR0000011_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000007}}<div class='form-group'>
                {{VAR0000012_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000007}}<div class='form-group'>
                {{VAR0000013_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000007}}<div class='form-group'>
                {{VAR0000014_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000007}}<div class='form-group'>
                {{VAR0000015_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000007}}<div class='form-group'>
                {{VAR0000016_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000007}}<div class='form-group'>
                {{VAR0000017_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000007}}<div class='form-group'>
                {{VAR0000018_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000007}}<div class='form-group'>
                {{VAR0000019_IND0000007}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000007}}<div class='form-group'>
                {{VAR0000020_IND0000007}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000007}}
             <div class='form-group'>
                {{FOR0000007}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000008}}
          <TR>



            <TD>{{IND0000008}} </TD>


            <TD>
              {{#if VAR0000001_IND0000008}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000008}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000008}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000008}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000008}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000008}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000008}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000008}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000008}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000008}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000008}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000008}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000008}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000008}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000008}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000008}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000008}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000008}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000008}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000008}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000008}}<div class='form-group'>
                {{VAR0000001_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000008}}<div class='form-group'>
                {{VAR0000002_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000008}}<div class='form-group'>
                {{VAR0000003_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000008}}<div class='form-group'>
                {{VAR0000004_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000008}}<div class='form-group'>
                {{VAR0000005_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000008}}<div class='form-group'>
                {{VAR0000006_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000008}}<div class='form-group'>
                {{VAR0000007_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000008}}<div class='form-group'>
                {{VAR0000008_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000008}}<div class='form-group'>
                {{VAR0000009_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000008}}<div class='form-group'>
                {{VAR0000010_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000008}}<div class='form-group'>
                {{VAR0000011_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000008}}<div class='form-group'>
                {{VAR0000012_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000008}}<div class='form-group'>
                {{VAR0000013_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000008}}<div class='form-group'>
                {{VAR0000014_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000008}}<div class='form-group'>
                {{VAR0000015_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000008}}<div class='form-group'>
                {{VAR0000016_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000008}}<div class='form-group'>
                {{VAR0000017_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000008}}<div class='form-group'>
                {{VAR0000018_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000008}}<div class='form-group'>
                {{VAR0000019_IND0000008}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000008}}<div class='form-group'>
                {{VAR0000020_IND0000008}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000008}}
             <div class='form-group'>
                {{FOR0000008}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

                     {{#if IND0000009}}
          <TR>



            <TD>{{IND0000009}} </TD>


            <TD>
              {{#if VAR0000001_IND0000009}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000009}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000009}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000009}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000009}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000009}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000009}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000009}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000009}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000009}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000009}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000009}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000009}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000009}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000009}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000009}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000009}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000009}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000009}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000009}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000009}}<div class='form-group'>
                {{VAR0000001_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000009}}<div class='form-group'>
                {{VAR0000002_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000009}}<div class='form-group'>
                {{VAR0000003_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000009}}<div class='form-group'>
                {{VAR0000004_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000009}}<div class='form-group'>
                {{VAR0000005_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000009}}<div class='form-group'>
                {{VAR0000006_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000009}}<div class='form-group'>
                {{VAR0000007_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000009}}<div class='form-group'>
                {{VAR0000008_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000009}}<div class='form-group'>
                {{VAR0000009_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000009}}<div class='form-group'>
                {{VAR0000010_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000009}}<div class='form-group'>
                {{VAR0000011_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000009}}<div class='form-group'>
                {{VAR0000012_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000009}}<div class='form-group'>
                {{VAR0000013_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000009}}<div class='form-group'>
                {{VAR0000014_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000009}}<div class='form-group'>
                {{VAR0000015_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000009}}<div class='form-group'>
                {{VAR0000016_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000009}}<div class='form-group'>
                {{VAR0000017_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000009}}<div class='form-group'>
                {{VAR0000018_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000009}}<div class='form-group'>
                {{VAR0000019_IND0000009}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000009}}<div class='form-group'>
                {{VAR0000020_IND0000009}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000009}}
             <div class='form-group'>
                {{FOR0000009}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}

         {{#if IND0000010}}
          <TR>



            <TD>{{IND0000010}} </TD>


            <TD>
              {{#if VAR0000001_IND0000010}}
              <div class='form-group'>
                {{VAR0000001}}
              </div>
              {{/if}}
              {{#if VAR0000002_IND0000010}}<div class='form-group'>
                {{VAR0000002}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000010}}<div class='form-group'>
                {{VAR0000003}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000010}}<div class='form-group'>
                {{VAR0000004}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000010}}<div class='form-group'>
                {{VAR0000005}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000010}}<div class='form-group'>
                {{VAR0000006}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000010}}<div class='form-group'>
                {{VAR0000007}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000010}}<div class='form-group'>
                {{VAR0000008}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000010}}<div class='form-group'>
                {{VAR0000009}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000010}}<div class='form-group'>
                {{VAR0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000010}}<div class='form-group'>
                {{VAR0000011}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000010}}<div class='form-group'>
                {{VAR0000012}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000010}}<div class='form-group'>
                {{VAR0000013}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000010}}<div class='form-group'>
                {{VAR0000014}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000010}}<div class='form-group'>
                {{VAR0000015}}
              </div> {{/if}}
              {{#if VAR0000016-_IND0000010}}<div class='form-group'>
                {{VAR0000016}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000010}}<div class='form-group'>
                {{VAR0000017}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000010}}<div class='form-group'>
                {{VAR0000018}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000010}}<div class='form-group'>
                {{VAR0000019}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000010}}<div class='form-group'>
                {{VAR0000020}}
              </div> {{/if}}

            </TD>
            <TD align="center">

              {{#if VAR0000001_IND0000010}}<div class='form-group'>
                {{VAR0000001_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000002_IND0000010}}<div class='form-group'>
                {{VAR0000002_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000003_IND0000010}}<div class='form-group'>
                {{VAR0000003_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000004_IND0000010}}<div class='form-group'>
                {{VAR0000004_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000005_IND0000010}}<div class='form-group'>
                {{VAR0000005_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000006_IND0000010}}<div class='form-group'>
                {{VAR0000006_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000007_IND0000010}}<div class='form-group'>
                {{VAR0000007_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000008_IND0000010}}<div class='form-group'>
                {{VAR0000008_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000009_IND0000010}}<div class='form-group'>
                {{VAR0000009_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000010_IND0000010}}<div class='form-group'>
                {{VAR0000010_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000011_IND0000010}}<div class='form-group'>
                {{VAR0000011_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000012_IND0000010}}<div class='form-group'>
                {{VAR0000012_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000013_IND0000010}}<div class='form-group'>
                {{VAR0000013_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000014_IND0000010}}<div class='form-group'>
                {{VAR0000014_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000015_IND0000010}}<div class='form-group'>
                {{VAR0000015_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000016_IND0000010}}<div class='form-group'>
                {{VAR0000016_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000017_IND0000010}}<div class='form-group'>
                {{VAR0000017_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000018_IND0000010}}<div class='form-group'>
                {{VAR0000018_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000019_IND0000010}}<div class='form-group'>
                {{VAR0000019_IND0000010}}
              </div> {{/if}}
              {{#if VAR0000020_IND0000010}}<div class='form-group'>
                {{VAR0000020_IND0000010}}
              </div> {{/if}}
 

            </TD>

                        <TD align="center">
              {{#if FOR0000010}}
             <div class='form-group'>
                {{FOR0000010}} 
              {{/if}}
            </TD>

          </TR>
            {{/if}}




        </TABLE>


        <form action="/rindicators/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">Hola No hay preguntas aun registradas.</p>
      <a href="/ask/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
